body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: purple;
}

.rightButton {
  position: relative;
  z-index: 99;
  float: right;
}

.map {
  padding: 0px 1vh 0px;
  height: 22.5vh;
  max-height: 100%
}

.year {
  padding: 25px 0px 25px
}

.month {
  padding: 25px 0px 25px
}

.settings {
  overflow-y: auto;
  height: 80vh;
  min-height: auto;
}

.tagRow {
  display: flex;
  height: 50px;
}

.rowButtons {
  display: flex;
  /* padding: 0px 0px 0px 50px; */
  flex: 1;
}


.rowLabel {
  flex: 1;
}

.gallery-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 75vh;
  min-height: auto;
  display: flex
}

.noflex-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 75vh;
  min-height: auto;
}

.gallery {
  flex-grow: 1;
}

.scrollbar {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  position: sticky;
}

.previewImgs {
  display: flex;
}

.previewImgs img {
  padding: 10px;
}

.editTags {
  padding: 10px;
}

.editTag {
  padding: 5px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.shared-with {
  display: flex
}

.search {
  display: flex
}

.segment-pad {
  padding: 25px;
}

.pane-pad {
  padding: 10px;
}

.snackbar-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#snackbar-fixed-container {
  position: fixed;
  bottom: 4rem;
}

.folder-container {
  width: 100%;
  height: 25vh;
}

.live-photo-container {
  height: -webkit-fill-available;
}

.upload-parent {
  display: grid;
  overflow: hidden;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.live-photo-child {
  max-height: 100%;
  margin: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  color: white;
  display: flex;
}

.live-photo-preview {
  max-height: 100%;
  margin: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  color: white;
  display: flex;
  height: 25vh;
}